.navbar {
  background-color: #c86c61;
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
}

.logo {
  object-fit: contain;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actionContainer {
  display: flex;
}

.actionItem {
  margin: 0 12px;
}
